<h1> <%= @stadium.name %> </h1>
<h3> <%= link_to "Vendors", stadium_vendors_path(@stadium) %> </h2>
<ul>
	<% @stadium.vendors.each do |vendor| %>
		<li> <%= link_to vendor.name, stadium_vendor_path(@stadium, vendor) %> </li>
	<% end %>
</ul>

<%= link_to "Back to stadiums list", stadia_path %>