.basic-btn {
  display: inline-block;
  font: normal 16px/100% "Dosis", Tahoma, sans-serif;
  font-weight: 500;
  outline-color: transparent;
  border-color: transparent;
  background-color: #7E7E7E;
  color: #EEE !important;
  padding: 9px 12px;

  &:active, &.visited {
    outline-color: transparent;
    border-color: transparent;
  }

  &:hover {
    background-color: #B0B0B0;
  }

  &[disabled] {
    background-color: #753333 !important;
    color: lighten(#753333, 25%) !important;
    cursor: not-allowed;
    @include box-shadow(0 0 3px $black inset);
  }

}

button,
input[type="submit"],
input[type="button"] {
  @extend .basic-btn;
}

/* override for rail helpers that are not button tags but are buttons */
input[type=submit],
input[type=button] {
  outline-color: transparent;
  border-color: transparent;

  &:active, &.visited {
    outline-color: transparent;
    border-color: transparent;
  }
}

/* used for top bar TODO */
.user-links {
  a {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
    height: 100%;
    font-family: Dosis, sans-serif;

    &.signup {
      color: khaki !important;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

a .shnack {
  text-decoration: none;
  color: #EEE;
}


