 .btnp {
  padding: 9px 15px;
  background: #336699;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

a.user {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
  //margin: 0px;
  height: 100%;

  &:hover {
    color: khaki;
    text-decoration: none;
  }

  &:not(:last-child) {
    //border-right: 2px solid red;
  }
}

a .shnack {
  text-decoration: none;
  color: #EEE;
}