$smokewhite: whitesmoke;
$bgblack: #252525;
$colorred: #9E1919;
$shnackred: #a61c00;

.red { color: $shnackred; }
.cream { color: papayawhip; }
.khaki { color: khaki; }

.padding-right-large { padding-right: 30px; } 
.padding-left-large { padding-right: 30px; } 
.padding-top-large { padding-right: 30px; } 
.padding-right-large { padding-right: 30px; } 
