*,  *:before, *:after  { box-sizing: border-box; }


html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: Dosis, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 100%; }
small { color: #666; }


ol li { display: inline-block; } //why not
p { font-size: 22px; }

/* body {
  background-image: image-url('noise-bg-2.png');
  background-repeat: repeat;
} */
