*,  *:before, *:after  { box-sizing: border-box; }


html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: Dosis, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 100%; }
h1.SSS, h2.SSS, h3.SSS, h4.SSS, h5.SSS, h6.SSS { margin-bottom: 5px; }

small { color: #666; }


ol > * {
  display: inline-block;
}

ol > li {
  display: inline-block;
  &:not(:last-child) { margin-right: 10px; }
} //why not

p { 
  font-size: 22px;
  margin-bottom: 12px;
}

body {

  // background-image: image-url('noise-bg-2.png');
  // background-repeat: repeat;
  //background-color:dimgray;
} 

.wrap-website {
    /* because the topbar always takes space fixed
  on top, removed from the regular flow */
  margin-top: 70px;
  @media (max-width: 520px) {
    margin-top: 100px;
  }
}

