.i-easy-123 {
  font-size: 102px;
}


.i-info:before {
  font-family: 'FontAwesome';
  content: '\f05a';
  font-size: 28px;
  color: orange;
}

.i-location {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    //content: '\f10b';
    content: '\f10a';
  }
}

.i-pay {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    content: '\f09d';
  }
}
.i-pickup {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    content: '\f087';
  }
}
