.input-list {
  h1, h2, h3, h4, h5, h6 { margin-bottom: 4px; }

  label { 
    color: #555; 
    display: block; 
  }

  select,
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea,
  input[type=checkbox],
  input[type=radio] {
    margin: 0px 3px 8px 3px;
  }

  select,
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  textarea {
    padding: 8px;
    border: solid 1px #C5C5C5;
    border-radius: 2px;
    width: calc(100% - 6px);

    &:hover { 
      border-color: #A9A9A9;
      box-shadow: 0 0 5px #A9A9A9;
    } 

    &:focus {
      border-color: #A9A9A9;
      box-shadow: 0 0 5px #A9A9A9;
    }

    &.with-info {
      width: calc(100% - 50px);
    }
  }

  //QQQ necessary???
  label > input[type=checkbox],
  label > input[type=radio] {
    display: inline-block;
  }
}


/* old code */

input[type="radio"].modifier, input[type="checkbox"].modifier {
  opacity: 0;
  position:absolute;
}

input[type="radio"].modifier + label {
  background-color: khaki;
  background-image: none;
  border-radius:15px;
  border: 2px solid #555;
  display:block;
  height: 10px;
  padding:6px;
  width:10px;
  box-shadow: 0 0 2px #333;

}

input[type="checkbox"].modifier + label {
  background-color: khaki;
  background-image: none;
  border: 2px solid #555;
  display:block;
  height: 10px;
  padding:6px;
  width:10px;
  box-shadow: 0 0 2px #333;
}

input[type=radio]:checked.modifier + label { 
  background-color:#444;
  border-color: khaki;
}

input[type="checkbox"]:checked.modifier + label { 
  background-color:#444;
  border-color: khaki;
}


input[type="tel"].error { border: 1px solid #780000  }

label.charges {
  padding: 2px 1em 0 0;
  display: inline-block;
}
input[type=radio].charges,
input.radio.charges {
  margin: 2px 0 0 2px; 
  border: none;
  display: inline-block;
}

input.form-control {
  border-radius: 0px;
  margin-bottom:5px;
}

