
h1.new {
  font-size: 3em;
  font-family: "Damion", serif;
}

h2.new {
  font-size: 1.5em;
  font-family: "Damion", serif;
}

h3.new {
  font-size: 1.5em;
  font-family: "Poiret One", sans-serif;
}


.headline-light {
  font-family: "Poiret One", Geneva, sans-serif;
  color: #EEE;
}


