
h1 {
  font-size: 2.2em;
  font-family: "Dosis", Geneva, sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 1.6em;
  font-family: "Dosis", Geneva, sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 3.2em;
  font-family: "Damion", serif;
}

h4 {
  font-size: 2em;
  font-family: "Damion", serif;
}


.headline-light {
  font-family: "Dosis", Geneva, sans-serif;
  color: #EEE;
}



.shnack {
  font-family: "Damion", serif;
}



p { font-family: "Dosis", Geneva, sans-serif; font-size: 18px; }