@import "vars";

h1.SSS, h2.SSS, h3.SSS, h4.SSS, h5.SSS, h6.SSS { margin-bottom: 5px; }

h1.SSS {
  font-family: "Damion", serif;
  font-size: 3em;
}

h2.SSS {
  font-size: 2em;
  font-weight: 500;
  font-family: "Dosis", Tahoma, sans-serif;
}

h3.SSS {
  font-size: 1.4em;
  background-color: #b22;
  border-bottom: solid 2px darken(darkseagreen, 50%);
  color: $white;
  padding: 8px 12px 8px 20px;
  font-weight: 500;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "Dosis", Tahoma, sans-serif;
}

h4.SSS {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Dosis", Tahoma, sans-serif;
}

h5.SSS {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "Dosis", Tahoma, sans-serif;
  color: #AAA;
}

h6.SSS {
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Dosis", Tahoma, sans-serif;
}


/* older styles below */
h1 {
  font-size: 2.2em;
  font-family: "Dosis", Geneva, sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 1.6em;
  font-family: "Dosis", Geneva, sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 3.2em;
  font-family: "Damion", serif;
}

h4 {
  font-size: 2em;
  font-family: "Damion", serif;
}


.headline-light {
  font-family: "Dosis", Geneva, sans-serif;
  color: #EEE;
}



.shnack {
  font-family: "Damion", serif;
}



p { font-family: "Dosis", Geneva, sans-serif; font-size: 18px; }
