@import "vars";

h1.SSS {
  font-family: "Damion", serif;
  font-size: 3em;
}

h2.SSS {
  font-size: 2em;
  font-weight: 500;
  font-family: "Dosis", Tahoma, sans-serif;
}

h3.SSS {
  font-size: 1.4em;
  background-color: $blue;
  color: $white;
  padding: 8px;
  font-weight: 500;
  border-top-right-radius: 26px;
  border-top-left-radius: 2px;
  font-family: "Dosis", Tahoma, sans-serif;
}

h4.SSS {
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Dosis", Tahoma, sans-serif;
}

h5.SSS {
  font-family: "Damion", serif;
  font-size: 2em;
}

h6.SSS {
  font-size: 1.2em;
  font-weight: 800;
  font-family: "Dosis", Tahoma, sans-serif;
  color: #AAA;
}


/* older styles below */
h1 {
  font-size: 2.2em;
  font-weight: 500;
}

h2 {
  font-size: 1.6em;
  font-weight: 500;
}

h3 {
  font-size: 3.2em;
  font-family: "Damion", serif;
}

h4 {
  font-size: 2em;
  font-family: "Damion", serif;
}




.headline-light {
  font-family: "Dosis", Geneva, sans-serif;
  color: #EEE;
}



.shnack {
  font-family: "Damion", serif;
}



