@import "vars";

.clear-fix:before     { content: ' '; display: table; }
.clear-fix:after      { content: ' '; display: table; clear: both; }
.opac-fix:after       { content: ' '; display: table; opacity: 1; }

.pad-sml  { padding: 10px; }
.pad      { padding: 20px; }
.pad-lrg  { padding: 30px; }

.pad-right-sml { padding-right: 10px; } 
.pad-left-sml { padding-left: 10px; } 
.pad-top-sml { padding-top: 10px; } 
.pad-bottom-sml { padding-bottom: 10px; } 

.pad-bottom { padding-right: 20px; } 
.pad-left { padding-left: 20px; } 
.pad-top { padding-top: 20px; } 
.pad-bottom { padding-bottom: 20px; } 

.pad-right-lrg { padding-right: 30px; } 
.pad-left-lrg { padding-left: 30px; } 
.pad-top-lrg { padding-top: 30px; } 
.pad-bottom-lrg { padding-bottom: 30px; } 


.bold { font-weight: bold; }
.itatlic { font-style: italic; }

.left { float: left; }
.right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.invisable { visibility: hidden; }
.hide { display: none; }
.hide-important { display: none !important; }

.highlight { background: #ffff99; }

.center {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.wrapper {
  width: 100%;
}

.wrapper-white {
  width: 100%;
  background-color: $white;
}

.wrapper-cement {
  width: 100%;
  background-color: $cement;
}

.wrapper-black {
  width: 100%;
  background-color: $black;
}

.wrapper-red {
  width: 100%;
  background-color: $red;
}

.my-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1000px;
}

.my-container-half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 500px;
}
