@import "vars";

.clear-fix:before     { content: ' '; display: table; }
.clear-fix:after      { content: ' '; display: table; clear: both; }
.opac-fix:after       { content: ' '; display: table; opacity: 1; }

/* Padding and Margin Tools */

.pad-sml  { padding: 10px; }
.pad      { padding: 20px; }
.pad-lrg  { padding: 30px; }

.pad-right-sml { padding-right: 10px; } 
.pad-left-sml { padding-left: 10px; } 
.pad-top-sml { padding-top: 10px; } 
.pad-bottom-sml { padding-bottom: 10px; } 

.pad-right { padding-right: 20px; } 
.pad-left { padding-left: 20px; } 
.pad-top { padding-top: 20px; } 
.pad-bottom { padding-bottom: 20px; } 

.pad-right-lrg { padding-right: 30px; } 
.pad-left-lrg { padding-left: 30px; } 
.pad-top-lrg { padding-top: 30px; } 
.pad-bottom-lrg { padding-bottom: 30px; } 

.mar-sml  { margin: 10px; }
.mar      { margin: 20px; }
.mar-lrg  { margin: 30px; }

.mar-right-sml { margin-right: 10px; } 
.mar-left-sml { margin-left: 10px; } 
.mar-top-sml { margin-top: 10px; } 
.mar-bottom-sml { margin-bottom: 10px; } 

.mar-right { margin-right: 20px; } 
.mar-left { margin-left: 20px; } 
.mar-top { margin-top: 20px; } 
.mar-bottom { margin-bottom: 20px; } 

.mar-right-lrg { margin-right: 30px; } 
.mar-left-lrg { margin-left: 30px; } 
.mar-top-lrg { margin-top: 30px; } 
.mar-bottom-lrg { margin-bottom: 30px; } 

/* Other */

.bold { font-weight: bold; }
.itatlic { font-style: italic; }

.left { float: left; }
.right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.invisable { visibility: hidden; }
.hide { display: none; }
.hide-important { display: none !important; }

.highlight { background: #ffff99; }

.center {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* Kind of experimential way. Might change based on padding
  and margins. Best to use inline-block vertical-align middle */
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gen-inline {
  display: inline-block;
}

.gen-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.my-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1000px;
}

.my-container-half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 500px;
}
