$white: #EEE;
$black: #171715;
$cement: #6a717a;

/* paletton.com */
$red: #BB2222;
$blue: #147070;
$brown: #BB6722;
$green: #1B961B;

/* kuler.adbobe.com with base #B22 complimentary
lightred: #FF4848;
darkred: #6E0A0A;
lightgreen: #22BB4D;
darkgreen: #006E1F; */

$elements: base, phone, menu, topbar, user-settings;
