/*$white: whitesmoke;
$black: #252525;
$red: #9E1919;
$shnackred: #a61c00;*/

$white: #EEE;
$black: #222;
$red: #A10;

.red { color: $red; }
.cream { color: papayawhip; }
.khaki { color: khaki; }
.white { color: $white; }
.black { color: $black; }



