.red    { background-color: $red; }
.cream  { background-color: papayawhip; }
.khaki  { background-color: khaki; }
.white  { background-color: $white; }
.black  { background-color: $black; }
.cement { background-color: $cement; }
.blue   { background-color: $blue; }
.brown  { background-color: $brown; }
.green  { background-color: $green; }


.red-text    { color: $red; }
.cream-text  { color: papayawhip; }
.khaki-text  { color: khaki; }
.white-text  { color: $white; }
.black-text  { color: $black; }
.cement-text { color: $cement; }
.blue-text   { color: $blue; }
.brown-text  { color: $brown; }
.green-text  { color: $green; }



a.red:hover { background-color: lighten($red, 10%); }
button.red:hover { background-color: lighten($red, 10%); }

a.blue:hover { background-color: lighten($blue, 10%); }
button.blue:hover { background-color: lighten($blue, 10%); }

a.brown:hover { background-color: lighten($brown, 10%); }
button.brown:hover { background-color: lighten($brown, 10%); }

a.green:hover { background-color: lighten($green, 10%); }
button.green:hover { background-color: lighten($green, 10%); }



a.red:active { background-color: lighten($red, 15%); }
button.red:active { background-color: lighten($red, 15%); }

a.blue:active { background-color: lighten($blue, 15%); }
button.blue:active { background-color: lighten($blue, 15%); }

a.brown:active { background-color: lighten($brown, 15%); }
button.brown:active { background-color: lighten($brown, 15%); }

a.green:active { background-color: lighten($green, 15%); }
button.green:active { background-color: lighten($green, 15%); }
