@import  "vars";

.red    { background-color: $red; }
.cream  { background-color: papayawhip; }
.khaki  { background-color: khaki; }
.white  { background-color: $white; }
.black  { background-color: $black; }
.cement { background-color: $cement; }
.blue   { background-color: $blue; }
.brown  { background-color: $brown; }
.green  { background-color: $green; }
.darkslategray { background-color: darkslategray; }


.text-red    { color: $red; }
.text-cream  { color: papayawhip; }
.text-khaki  { color: khaki; }
.text-white  { color: $white; }
.text-black  { color: $black; }
.text-cement { color: $cement; }
.text-blue   { color: $blue; }
.text-brown  { color: $brown; }
.text-green  { color: $green; }
.text-darkslategray { color: darkslategray; }




a.red:hover { background-color: lighten($red, 10%); }
button.red:hover { background-color: lighten($red, 10%); }

a.blue:hover { background-color: lighten($blue, 10%); }
button.blue:hover { background-color: lighten($blue, 10%); }

a.brown:hover { background-color: lighten($brown, 10%); }
button.brown:hover { background-color: lighten($brown, 10%); }

a.green:hover { background-color: lighten($green, 10%); }
button.green:hover { background-color: lighten($green, 10%); }

a.darkslategray:hover { background-color: lighten(darkslategray, 10%); }
button.darkslategray:hover { background-color: lighten(darkslategray, 10%); }



a.red:active { background-color: lighten($red, 15%); }
button.red:active { background-color: lighten($red, 15%); }

a.blue:active { background-color: lighten($blue, 15%); }
button.blue:active { background-color: lighten($blue, 15%); }

a.brown:active { background-color: lighten($brown, 15%); }
button.brown:active { background-color: lighten($brown, 15%); }

a.green:active { background-color: lighten($green, 15%); }
button.green:active { background-color: lighten($green, 15%); }

a.darkslategray:active { background-color: lighten(darkslategray, 15%); }
button.darkslategray:active { background-color: lighten(darkslategray, 15%); }



.wrapper {
  background-color: transparent;
  width: 100%;
}

.wrapper-white {
  width: 100%;
  background-color: $white;
}

.wrapper-cement {
  width: 100%;
  background-color: $cement;
}

.wrapper-black {
  width: 100%;
  background-color: $black;
}

.wrapper-red {
  width: 100%;
  background-color: $red;
}

.wrapper-darkslategray {
  width: 100%;
  background-color: darkslategray;
}

.wrapper-blue {
  width: 100%;
  background-color: $blue;
}

.wrapper-green {
  width: 100%;
  background-color: $green;
}

.wrapper-brown {
  width: 100%;
  background-color: $brown;
}

.wrapper-khaki {
  width: 100%;
  background-color: khaki;
}

.wrapper-darkseagreen {
  width: 100%;
  background-color: darkseagreen;
}
