<% content_for :page_title do%>
  <span class="animated tada"><%= @owner.name %></span>
<% end %>

  <%= render 'form' %>

<div class="cancel mar-y-lrg">
	<% if @owner.instance_of?(Vendor) %>
		<%= link_to 'Cancel', :controller => 'application' , :action => "select_vendor", :object_id  => @owner.stadium.id %>
	<% else %>
		<%= link_to 'Cancel', :controller => 'application', :action => "select_stadium" %>
	<% end %>
</div>
