
.flash {
  margin: 0px auto;
  min-width: 320px;
  max-width: 660px;

  div {
    margin: 0px auto 10px auto;
    width: 80%;
    text-align: center;
    font-family: Dosis, Geneva, sans-serif;
    font-size: 1em;
    padding: 5px 0px;
    font-weight: bold;

    &.f-error {
      color: #780000;
      background: #F5E6E6;

    }

    &.notice {
     color: green;
      background: rgba(140,250,0,.3);
    }
  }
}

input.error {
  border: 2px solid #780000;
  background-color: #E5E6E6;
  color:#780000;
  font-weight: bold;
}

div.error {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid #780000;
  border-radius: 10px;
  background-color: #E5E6E6;
  color:#780000;
  font-weight: bold;
  text-align: center;
}
