@import "base/vars";

.caje-info {
  font-size: 2em;
  color: dimgray;
  font-family: "Dosis", Geneva, sans-serif;
  text-align: center;
  width: 60%;
  padding: 15px 10px 5px 10px;
  background: KHAKI;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #888;
  border-top-right-radius: 40px 80px;
  border-top-left-radius: 40px 80px;

  span.shnack {
    font-size: 1.5em;
  }

  span.motto {
    font-weight: 500;
    color: $red;
  }

  span.chance-to-win {
    font-weight: 800;
  }

  span.caje {
    font-size:1.5em;
    font-weight: bold;
  }

  @media (max-width: 800px) {
    width: 90%;
    font-size: 1.6em;
  }

  @media (max-width: 500px) {
    font-size: 1.2em;
  }
}
