@import "base/vars", "base/mixins";

.topbar {
  position: fixed;
  z-index: index($elements, topbar);
  left: 0;
  top:0;
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0px 30px;
  color: $white;
  background: darkred;
  border-bottom: 1px solid #333333;
  /*@include box-shadow(0, 0, 3px, #dddddd);*/

  .topbar-container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }

  a {
    color:white;

    h3 {
      font-size: 2.5em;
      width: 25%;   //NOTE
    }
    &:visited {
      color: white;
    }
  }
}



/* because the topbar always takes space fixed
  on top, removed from the regular flow */
.topbar + div {
  padding-top: 60px;
}


.title_current_step {
padding-top: 5px;
 text-align: center;
 text-transform: uppercase;
  font-size: 1.5em;
  }

 .circle {
    border: 2px solid khaki;
    //background-color: #AAA;
    border-radius:15px;
    background-image: none;
    width: 12px;
    height: 12px;
    margin: 0 auto;

    &.current {
      background-color: khaki;
    }
  }


.links {
  position: absolute;
  right: 0px;
  top: 9px;
}

.my-gear {
  position: absolute;
  right: 0px;
  top: 2px;
}



