.action-btn {
  display: inline-block;
  background-color: #E5E5E5;
  color: #444 !important;
  padding: 9px 18px;
  font-weight: 800;
  border-radius: 20px;
  border: 1px solid #D5D5D5;

  &:hover {
    background-color: darken(#E5E5E5, 5%);
  }

}

/* because default a:hover is khaki */
//a.action-btn:hover { color: #222; }
//a.push-btn:hover { color: #EEE; }

.push-btn {
  display: inline-block;
  color: #EEE !important;
  position: relative;
  padding: 12px 9px;
  background-color: darkslategray;
  border-radius: 3px;
  top: 0px;
  box-shadow: 0 3px 0 #666;
  margin-right: 3px;
  margin-left: 3px;
  width: calc(100% - 6px);
  text-transform: uppercase;
  text-align: center;

  &:hover {
    top: 1px;
    box-shadow: 0 2px 0 #666;
    text-decoration:none;
  }

  &:active {
    top: 3px;
    box-shadow: none;
  }
}


/* manage vendors add items page */
.add-mod-btns > .action-btn {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

/* a.arrow {
  color: darkseagreen;
  &:before{
    padding-right: 25px;
    width: 0; 
    height: 0; S
    content: ' ';
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid darkseagreen;
  }
}
 */
