.my-well {
  display: block;
  position: relative;
  //min-height: 18px;
  padding: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.my-well-sml {
  @extend .my-well;
  padding: 6px;
}

.my-well-mid {
  @extend .my-well;
  padding: 12px;
}

/* going to delete these, add the color with a color utility */
.my-well-lemon {
  display: block;
  position: relative;
  //min-height: 18px;
  padding: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  background-color: lemonchiffon;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

