.my-well {
  min-height: 18px;
  padding: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.my-well-lemon {
  min-height: 18px;
  padding: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  background-color: lemonchiffon;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.my-well-seagreen {
  min-height: 18px;
  padding: 18px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  background-color: darkseagreen;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
