@import "base/vars";

/*  dont take this seriously 
nav.management {
  margin-bottom: 45px;
  text-align: center;
  width: $menu-width;

  a {
    font-size: 24px;

    &:hover {
      //background-color: khaki;
      color: #999;
    }
  }
}
 */

.stick {
    position: fixed;
    top: 0;
}

.my-panel-heading {
  
}
