<%= render 'top_nav' %>

<h2>Recent Orders</h2>

<table class="table">
	<tr>
		<th></th>
		<th> Amount </th>
		<th> Funds Available? </th>
	<% @orders.where(:paid => true).reverse.each do |order| %>
		<tr>
			<td> Order #<%= order.order_number %> </td>
			<td> <%= order.integer_to_currency(order.total) %> </td>
			<td> 
				<% if order.withdrawn %>
					Withdrawn
				<% elsif order.created_at < 1.week.ago %>
					Funds are available 
				<% else %>
					Funds not yet available 
				<% end %>

			</td>
		</tr>
	<% end %>
</table>
