
.notice {
  text-align: center;
  font-family: Dosis, Geneva, sans-serif;
  font-size: 1.6em;
  padding: 15px 0px;
  color: green;
  font-weight: bold;
  margin-top: 10px;
  background: rgba(140,250,0,.3);
}

.flash-error {
  text-align: center;
  font-family: Dosis,  Geneva, sans-serif;
  font-size: 1.6em;
  padding: 15px 0px;
  color: #780000;
  font-weight: bold;
  margin-top: 10px;
  background: #F5E6E6;

}


.error {
  margin-top:10px;
  padding:3px;
  border: 1px solid #780000;
  border-radius:10px;
  background-color:#F5E6E6;
  font-family: "Poiret One", Geneva, sans-serif;
  color:#780000;
}
