@import "base/mixins", "base/vars";

.sign-up-page-deal {
  h4 {
    background-color: $green;
    color: $white;
    padding: 5px;
    margin-bottom: 0 !important;
  }
  p {
    border-left: 2px dotted $green;
    border-right: 2px dotted $green;
    border-bottom: 2px dotted $green;
  }

  display: block;
  position: absolute;
  left: -210px;
  top: 50px;
  font-size: .8em;
  width: 150px;
  text-align: center;

  @media (max-width: 780px) {
    display: none;
  }
}

.easy-123 {
  .column-mobile {
    text-align: center;
    padding: 10px;
    color: #111;

    p, h1 { color: white; }
  }
}

.i-location {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    //content: '\f10b';
    content: '\f10a';
  }
}

.i-pay {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    content: '\f09d';
  }
}
.i-pickup {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    content: '\f087';
  }
}

.i-easy-123 {
  font-size: 102px;
}

#order-form {
  margin: 0px auto;
  min-width: 320px;
  max-width: 660px;
  //padding-top:60px;
  //padding-bottom:60px;


}

.the-menu {
  //padding-top: 60px;
  //padding-bottom: 60px;
  padding-bottom:70px;
}

.panel-title {
  font-weight: 800;
  color: $white;
  cursor: pointer;
  //background-color: #A10;

  &:before {
    margin-right: 5px;
    font-family: 'FontAwesome';
    font-weight: normal;
    content: '\f0da';
  }

  &.expanded:before {
    font-family: 'FontAwesome';
    font-weight: normal;
    content: '\f0d7';
  }
}

.panel-default > .panel-heading {
  background-color: $red;
  cursor: pointer;
  border-radius: 0px;
}

table.table {
  border-radius: 0px;
}
.panel {
  border-radius: 0px;
    box-shadow: 0px 0px 5px #888;

}

footer.fb {
  margin: 40px auto 80px auto;
  text-align: center;

  p {
    font-size: 1.6em;
    font-weight: 500;
    color: $black;
  }
  a.place-order {
    color: #a10;
    margin-bottom: 40px;
    text-decoration: none;
    display: block;
    &:hover {
      color: slategray;
    }
  } 
}

footer.tell-me-more {
  margin: 20px auto;
  text-align: center;
  display:none;
  a {
    @include box-shadow(0, -3px, 0, #333);
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    top: 0;
    background-color: #777;
    color: white;

    &:hover {
      background-color: #666;
      color: white;
    }

    &:active {
      top: -2px;
      @include box-shadow(0, -1px, 0, #222);
      background-color: #555;
    }
  }
}
