@import "base/mixins";

footer {
  width:100%;
  height:3em;
  padding:1em;
  background-color:#202020  ;
  color:white;
  text-align:center;
  position:fixed;
  bottom: 0;
  left: 0;

  & > .container {
    max-width:900px;
  }

  a.place-order {
    color:white;
  }
  a.learn-more {
    position:fixed;
    right:10px;
    color:white;
  }

  @media(max-width:520px) {
      a.learn-more {
        display:none;
      }
  }
}

.easy-123 {
  .column-mobile {
    text-align: center;
    padding: 10px;
    color: #111;

    p, h2, h3, span { color: #383838  ; }
  }
}
/* //#4C4951*/

.i-location {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    //content: '\f10b';
    content: '\f10a';
  }
}

.i-pay {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    content: '\f09d';
  }
}
.i-pickup {
  font-family: 'FontAwesome';
  font-size: 102px;
  &:before {
    content: '\f087';
  }
}


#order-form {
  margin: 0px auto;
  min-width: 320px;
  max-width: 660px;
  //padding-top:60px;
  //padding-bottom:60px;


}

.the-menu {
  //padding-top: 60px;
  //padding-bottom: 60px;
  padding-bottom:70px;
}

.panel-title {
  font-weight:700;
  color: white;
  cursor: pointer;
  background-color: #A10;

  &:before {
    content: '\00a0        \00a0';
    background-image: image-url('expand.png');
    background-repeat:no-repeat;
  }

  &.expanded:before {
    content: '\00a0   \00a0  \00a0';
    background-image: image-url('minimize.png');
    background-repeat:no-repeat;
    background-position: center;
  }
}

.panel-default > .panel-heading {
  background-color: #A10;
  cursor: pointer;
  border-radius: 0px;
}

table.table {
  border-radius: 0px;
}
.panel {
  border-radius: 0px;
    box-shadow: 0px 0px 5px #888;

}

