.col-1, .col-2, .col-3, .col-4, .col-5, .col-6  {
 position: relative;
 float: left;
}

.col-1 { width: 8.33333%; }
.col-2 { width: 16.66666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333%; }
.col-6 { width: 50%; }
.col-12 { width: 100%; }






.row-new { @extend .clear-fix; width: 1200px; max-width: 100%; min-width: 320px; margin: 0 auto; position: relative; }
.column  { float: left; position: relative; min-height: 1px;}
.column.centered { float: none; margin: 0 auto; }

.one, .row-new .one { width: 8.33333%; }
.two, .row-new .two { width: 16.66667%; }
.three, .row-new .three { width: 25%; }
.four, .row-new .four { width: 33.33333%; }
.five, .row-new .five { width: 41.66667%; }
.six, .row-new .six { width: 50%; }
.seven, .row-new .seven { width: 58.33333%; }
.eight, .row-new .eight { width: 66.66667%; }
.nine, .row-new .nine { width: 75%; }
.ten, .row-new .ten { width: 83.33333%; }
.eleven, .row-new .eleven { width: 91.66667%; }
.twelve, .row-new .twelve { width: 100%; }

.row-new .offset-by-one { margin-left: 8.33333%; }
