.entire-mod-wrap {
  @extend .my-well-lemon;
  //overwrite well's specific padding and margins
  padding: 9px; 
  margin-top: 0px; 
  margin-bottom: 0px;


  .customize-this { 
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 9px;

    &:before {
      content: 'Customize this ';
    }
  }

  .individual-mod-wrap {
    //background-color: skyblue;
    margin-bottom: 5px;
    padding: 5px;
  }

  ol.single-option-wrap {
    color: orange;
    padding: 4px;
    border-bottom: 1px solid brown;

    li:last-of-type {
      float: right;
    }
  }
}



//OLD CODE


table.table {
  margin-bottom: 0px;
}
