
tbody.all_the_mods tr {

    td.customize-this {
      background-color: #EEE;
      color: #333;
      text-align:center;
      font-style: italic;
    }

    &.item-modifier {
      background-color: #EEE;
    }
    &.opt-name {
      background-color: #EEE;
    }

    
}


.item-description {
  background: lightgray;
  padding-left:10px;
  font-size: .8em;
}

.description {
  display:block;
  color:#999;
  font-weight:500;
  font-size:.92em;
}
table.table {
  margin-bottom: 0px;
}
