.entire-mod-wrap {
  background-color: lemonchiffon;

  &:before {
    content: ' ';
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 14px;
    background-color: orange;
  }

  .customize-this { 
    font-size: 1.4em;
    text-align: center;

    &:before {
      content: 'Customize this ';
    }
  }

  .individual-mod-wrap {
    //background-color: skyblue;
    padding: 9px;
    margin-bottom: 5px;
  }

  ol.single-option-wrap {
    color: orange;
    padding: 4px;
    border-bottom: 1px solid brown;

    li:last-of-type {
      float: right;
    }
  }
}



//OLD CODE
tbody.all_the_mods tr {
    background-color: lemonchiffon;

    td.customize-this {
      color: #333;
      text-align:center;
      font-style: italic;
    }
}


.item-description {
  background: lightgray;
  padding-left:10px;
  font-size: .8em;
}

.description {
  display:block;
  color:#999;
  font-weight:500;
  font-size:.92em;
}
table.table {
  margin-bottom: 0px;
}
