@import "base/vars", "mixins";


section.prime-info {
  color: $white;
  min-height: 560px;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 35px;
  //padding-left: 10px;
    padding-left: 5px !important;

  h1 {
    margin-bottom: 25px;
    font-size: 3em;
  }

  nav {
    margin-bottom: 10px;

    a {
      font-family: "Damion", serif;
      font-size: 2.4em;
      text-decoration: none; 
      display: inline-block;
      padding: 5px 20px;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $blue;
        color: $white;
      }
    }
  }

  p {
    font-size: 24px;
  }

  .phone {
    width: 230px;
    z-index: index($elements, phone);
    padding-left: 20px;
    position: absolute;
    display: block;
    right: 45px;
  }
}




#contact-us {
  display: none;
  width: 100%;
  height: 200px;
  //margin-top: 15px;
}

.contact-field {
  width: 100%;
}

