/* code from http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/ */

$elements: base, phone, menu, topbar, user-settings;


#click_me {
  list-style:none;
  font-weight:bold;
  margin: 0;
}

#click_me li {
  float:left;
  //margin-right:10px;
  position:relative;
}
#click_me a {
  display:block;
  padding:5px;
  //color:#fff;
  //background:#333;
  text-decoration:none;
}
#click_me a:hover {
  //color:#fff;
  //background:#6b0c36;
  text-decoration:underline;
}

#click_me ul {
  background: #CCC;
  list-style:none;
  position:absolute;
  right:-9999px; 
  padding-left: 0px;
  box-shadow: 0 0 2px #333;
  z-index: index($elements, user-settings);
}
#click_me ul li {
  padding-top:1px; 
  float:none;
  padding-bottom: 1px;
}
#click_me ul a {
  white-space:nowrap;
}
#click_me li:hover ul { 
  right:0; 
}

#click_me li:hover a { 
  //background: lemonchiffon;
  text-decoration:underline;
}
#click_me li:hover ul a { 
  text-decoration:none;
}
#click_me li:hover ul li a:hover { 
  background:#555;
  color: whitesmoke;
}