@import "base/vars";

footer.popup-banner {
  width:100%;
  height:3em;
  padding:1em;
  background-color:#202020  ;
  color:white;
  text-align:center;
  position:fixed;
  bottom: 0;
  left: 0;

  & > .container {
    max-width:900px;
  }

  a.place-order {
    color:white;
  }
  a.learn-more {
    position:fixed;
    right:10px;
    color:white;
  }

  @media(max-width:520px) {
      a.learn-more {
        display:none;
      }
  }
}


footer.fb {
  margin: 40px auto 80px auto;
  text-align: center;

  p {
    font-size: 1.6em;
    font-weight: 500;
    font-color: #2A2A2A;
  }
  a.place-order {
    color: #a10;
    margin-bottom: 40px;
    text-decoration: none;
    display: block;
    &:hover {
      color: slategray;
    }
  } 
}
