.to_the_right {
  //position: absolute;
  background: yellowgreen;
  //right: 0;
  //bottom: 0;
  //padding: 5px;
  display: inline;
  //&:after { content: '  '; display: table; }
}

.to_the_left {
  //position: absolute;
  background: yellowgreen;
  //left: 0;
  //bottom: 0;
display: inline;
  //&:after { content: '  '; display: table; }
}
