@import "base/mixins";

.gen_inline {
  display: inline-block;
  vertical-align: middle;
}

#order-form {
  margin: 0px auto;
  min-width: 320px;
  max-width: 660px;
  //padding-top:60px;
  //padding-bottom:60px;

  @media (max-width: 600px) {
    padding-top:85px;
    padding-bottom:60px;
  }
}

.the-menu {
  //padding-top: 60px;
  //padding-bottom: 60px;
}

.panel-title {
  font-weight:700;
  color: white;
  cursor: pointer;
  background-color: #555;

  &:before {
    content: '\00a0        \00a0';
    background-image: image-url('expand.png');
    background-repeat:no-repeat;
  }

  &.expanded:before {
    content: '\00a0   \00a0  \00a0';
    background-image: image-url('minimize.png');
    background-repeat:no-repeat;
    background-position: center;
  }
}


footer.fb {
  margin: 40px auto 80px auto;
  text-align: center;

  p {
    font-size: 1.6em;
    font-weight: 700;
    font-color: #2A2A2A;
  }
  a.place-order {
    color: #a10;
    margin-bottom: 40px;
    text-decoration: none;
    display: block;
    &:hover {
      color: slategray;
    }
  } 
}

footer.tell-me-more {
  margin: 20px auto;
  text-align: center;
  display:none;
  a {
    @include box-shadow(0, -3px, 0, #333);
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    top: 0;
    background-color: #777;
    color: white;

    &:hover {
      background-color: #666;
      color: white;
    }

    &:active {
      top: -2px;
      @include box-shadow(0, -1px, 0, #222);
      background-color: #555;
    }
  }
}