.the-menu {
  h3 { margin-bottom: 0px; }
}

.all-items-wrap {

  .single-item-wrap {
    font-size: 14px;
    padding: 5px;

    &:nth-child(even) {
      background-color: #F5F5F5;
    }
  }

  .item-description {
    color: #888;
    font-size: .92em;
  }
}


.money-wrap {
  @extend .my-well;
  padding: 6px;
}
