@import "base/vars", "mixins";

.topbar {
  position: fixed;
  z-index: index($elements, topbar);
  left: 0;
  right: 0;
  top:0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3px 30px;
  color: $white;
  background: darkred;
  @include box-shadow(0, 4px, 6px, $black);

  a {
    color: $white;

    &:hover {
      color: khaki;
    }
    &:visited {
      color: $white;
    }
  }

  h1 {
    margin-bottom: 0px;
    @media (max-width: 630px) {
      font-size: 2.7em;
    }

    @media (max-width: 520px) {
      font-size: 2.5em; 
    }
  }

  @media (max-width: 520px) {
    padding: 1px 6px 4px;
  }
}


.title_current_step {
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
  //color: khaki;
  @media (max-width: 630px) {
    font-size: 1.65em;
  }
  @media (max-width: 520px) {
    font-size: 1.5em;
    padding-top: 0px;
  }
}


.links {
  position: absolute;
  right: 0;
  top: 9px;
}

.my-gear {
  position: absolute;
  right: 0;
  top: 2px;
}

