@import "base/vars";

.clear-fix:before     { content: ' '; display: table; }
.clear-fix:after      { content: ' '; display: table; clear: both; }
.opac-fix:after       { content: ' '; display: table; opacity: 1; }

/* Padding and Margin Tools */

.pad-sml  { padding: 10px; }
.pad      { padding: 20px; }
.pad-lrg  { padding: 30px; }
.pad-xlrg { padding: 45px; }

.pad-x-sml  { padding-left: 10px; padding-right: 10px; }
.pad-x      { padding-left: 20px; padding-right: 20px; }
.pad-x-lrg  { padding-left: 30px; padding-right: 30px; }
.pad-x-xlrg { padding-left: 45px; padding-right: 45px; }

.pad-y-sml  { padding-top: 10px; padding-bottom: 10px; }
.pad-y      { padding-top: 20px; padding-bottom: 20px; }
.pad-y-lrg  { padding-top: 30px; padding-bottom: 30px; }
.pad-y-xlrg { padding-top: 45px; padding-bottom: 45px; }

.pad-right-sml { padding-right: 10px; } 
.pad-left-sml { padding-left: 10px; } 
.pad-top-sml { padding-top: 10px; } 
.pad-bot-sml { padding-bottom: 10px; } 

.pad-right { padding-right: 20px; } 
.pad-left { padding-left: 20px; } 
.pad-top { padding-top: 20px; } 
.pad-bot { padding-bottom: 20px; } 

.pad-right-lrg { padding-right: 30px; } 
.pad-left-lrg { padding-left: 30px; } 
.pad-top-lrg { padding-top: 30px; } 
.pad-bot-lrg { padding-bottom: 30px; } 

.mar-sml  { margin: 10px; }
.mar      { margin: 20px; }
.mar-lrg  { margin: 30px; }
.mar-xlrg { margin: 45px; }

.mar-x-sml  { margin-left: 10px; margin-right: 10px; }
.mar-x      { margin-left: 20px; margin-right: 20px; }
.mar-x-lrg  { margin-left: 30px; margin-right: 30px; }
.mar-x-xlrg { margin-left: 45px; margin-right: 45px; }

.mar-y-sml  { margin-top: 10px; margin-bottom: 10px; }
.mar-y      { margin-top: 20px; margin-bottom: 20px; }
.mar-y-lrg  { margin-top: 30px; margin-bottom: 30px; }
.mar-y-xlrg { margin-top: 45px; margin-bottom: 45px; }

.mar-right-sml { margin-right: 10px; } 
.mar-left-sml { margin-left: 10px; } 
.mar-top-sml { margin-top: 10px; } 
.mar-bottom-sml { margin-bottom: 10px; } 

.mar-right { margin-right: 20px; } 
.mar-left { margin-left: 20px; } 
.mar-top { margin-top: 20px; } 
.mar-bottom { margin-bottom: 20px; } 

.mar-right-lrg { margin-right: 30px; } 
.mar-left-lrg { margin-left: 30px; } 
.mar-top-lrg { margin-top: 30px; } 
.mar-bottom-lrg { margin-bottom: 30px; } 

.mar-bot-children > * {
  margin-bottom: 8px;
}

/* Other */

.bold { font-weight: bold; }
.itatlic { font-style: italic; }

.left { float: left; }
.right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.invisable { visibility: hidden; }
.hide { display: none; }
.hide-important { display: none !important; }

.highlight { background: #ffff99; }

.center {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* Kind of experimential way. Might change based on padding
  and margins. Best to use inline-block vertical-align middle */
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gen-inline {
  display: inline-block;
  vertical-align: top;
}

.gen-inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.my-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1000px;
}

.my-container-half {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 480px;
  }

.my-container-threefour {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.span1 { max-width: 90px }
.span2 { max-width: 180px }
.span3 { max-width: 270px }
.span4 { max-width: 360px }
.span5 { max-width: 450px; }
.span6 { max-width: 540px; }
.span7 { max-width: 630px; }
.span8 { max-width: 720px; }
.span9 { max-width: 810px; }
.span10 { max-width: 900px; }
.span11 { max-width: 990px; }
.span12 { max-width: 1080px; }

.gen-inline-top {
  display: inline-block;
  vertical-align: top;
}
