/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";


.logo {
	width:85%;
	margin: 0 auto;
}

.container {
	padding-top:15px;
	width: 100%;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FCFCFC),
	color-stop(1, #EBEBEB)
);
background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
background-image: linear-gradient(to bottom, #FCFCFC 0%, #EBEBEB 100%);
}

.works_container {
	width: 100%;
	height: 365px;
	margin-bottom: 60px;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #9E1919),
	color-stop(1, #A62424)
);
background-image: -o-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
background-image: -moz-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
background-image: -webkit-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
background-image: -ms-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
background-image: linear-gradient(to bottom, #9E1919 0%, #A62424 100%);
}

.row {
	margin-bottom: 75px;
}

.step1 {
	margin-top: 75px;
	height: 150px;
}

@media (min-width: 992px) { 

.logo {
	width:100%
}

}
