/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Damion);
@import "base/*";


body {
	//margin-right: 0px;
	//padding-right: 0px;
	background: url(welcome4.jpg) no-repeat fixed center;
	background-size:100% 100%;
}

p {
	font-family: "Poiret One", Geneva, sans-serif;
}

.logo {
	width:85%;
	margin: 0 auto;
}

.website-container {
	padding-top:15px;
	width: 100%;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FCFCFC),
		color-stop(1, #EBEBEB)
	);
	background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: linear-gradient(to bottom, #FCFCFC 0%, #EBEBEB 100%);
}



.level {
	width:60%;
	padding: 15px 10px 5px 10px;
	background: KHAKI;
	margin:auto;
	box-shadow: 0px 0px 5px #888888;
  border-top-right-radius: 40px 80px;
  border-top-left-radius: 40px 80px;

  @media (max-width: 800px) {
    width: 90%;
  }
}



#level-2 {
	width: 100%;
	padding: 0px 10px 20px 10px;
  box-shadow: 0px 0px 20px black;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #9E1919),
		color-stop(1, #A62424)
	);
	background-image: -o-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: -moz-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: -webkit-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: -ms-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: linear-gradient(to bottom, #9E1919 0%, #A62424 100%);
}


#level-3 {
  width: 100%;
  position: relative;
  margin: 0px auto;
  background: $black;
  padding: 45px 10px;
  min-height: 560px;
}

#footer {
	max-width: 500px;
	margin: 100px auto;
}

.foot-style {
	font-family: "Poiret One", Geneva, sans-serif;
}

.col-4 {
	position: relative;
	float: left;
	width: 33.333333%;
}

.col-6 {
	position: relative;
	float: left;
	width: 50%;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.container {
	width: 100%;
	padding: 0px;
}

.my-container {
	max-width: 980px;
}

.col-4 {
	width: 33.333333%;
}

.panel-heading {
  cursor: pointer;
  background-color: #555;
}


.panel-title {
  font-weight:700;
  color: white;

  &:before {
    content: '\00a0        \00a0';
    background-image: image-url('expand.png');
    background-repeat:no-repeat;
  }

  &.expanded:before {
    content: '\00a0   \00a0  \00a0';
    background-image: image-url('minimize.png');
    background-repeat:no-repeat;
    background-position: center;
  }
}

tbody.all_the_mods tr {

    td.customize-this {
      background-color: #EEE;
      color: #333;
      text-align:center;
      font-style: italic;
    }

    &.item-modifier {
      background-color: #EEE;
    }
    &.opt-name {
      background-color: #EEE;
    }
}


.step-style {
  text-align: center;
  color: $white;
}

h1.step-style {
  font-family: "Damion", serif;
  font-size: 3.2em;
	font-weight: 100;
}

p.step-style {
  font-size: 1.5em;
  padding: 0px 25px;
}

img.step-style {
  opacity: .9;
}

#phone{
position: absolute;
bottom: -45px;
z-index: 20;
  width: 230px;

}


#info-tagline {
 font-family: "Poiret One", Geneva, sans-serif; 
 font-size: 3.8em;
 color: $white;
   font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1;
  line-height: .9em;
}

#info-text {
  font-size: 1.5em;
  color: $white;
  font-family: "Poiret One", Geneva, sans-serif;
  display: block;
}

.center {
	margin: 0px auto;
	text-align: center;
}

.center-new {
  margin: 0 auto;
}

.add_margin {
	margin-bottom: 175px;
}

.shnack {
	font-family: "Damion", serif;
	font-size:1.5em;
}

.caje {
  font-size:1.5em;
  font-weight: bold;
}

ul.info-links {
 	list-style: none;
	font-size: 3em;
	font-family: "Damion", serif;
  	li {
    	//padding: 0px 40px 0px 0px;
    	display:inline;
  	}
  	a {
  		color: $red;
  		text-decoration: none;
  		&:hover {
  			color: $white;
  			border-bottom: 2px solid $red;
  		}
  	}
}

#return-to-top{
	text-align: center;
	margin: 20px auto;
	a {
		color: $red;
  		text-decoration: none;
  		&:hover {
  			color: slategray;
  		}
	} 
}



#contact-us {
	display: none;
	width: 100%;
	height: 200px;
	//margin-top: 15px;
}

 .btnp {
  padding: 9px 15px;
  background: #336699;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  }


.contact-field {
	width: 100%;
}

.notice {
	text-align: center;
	font-family: "Poiret One", Geneva, sans-serif;
	font-size: 1.6em;
	padding: 15px 0px;
	color: green;
	font-weight: bold;
	margin-top: 10px;
	background: rgba(140,250,0,.3);
}

.flash-error {
	text-align: center;
	font-family: "Poiret One", Geneva, sans-serif;
	font-size: 1.6em;
	padding: 15px 0px;
	color: #780000;
	font-weight: bold;
	margin-top: 10px;
	background: #F5E6E6;

}

input[type="tel"].error { border: 1px solid #780000  }

.error {
	margin-top:10px;
	padding:3px;
	border: 1px solid #780000;
	border-radius:10px;
	background-color:#F5E6E6;
	font-family: "Poiret One", Geneva, sans-serif;
	color:#780000;

}

/* SHNACK ATTACK */
table.item-list {

 tr {
    background-color: #FFF;
    display: table-row;

    &:nth-child(odd) {
      background-color: #F9F9F9;
    }

    &:hover {
      background-color: #FFFFF2;
    }
  }

  td {
    //border: 1px solid #E0E0E0;
    padding: 5px;

    button, select, input, textarea {
      width: 100%;
    }

    &.single_icon {
      text-align: center;
      vertical-align: middle;
    } 

    &.numeric{
      text-align: right;
    }
  }
}

button, input, textarea {
  background: #FFFFFF;
  border: solid 1px #E5E5E5;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  margin-bottom: 10px;
  outline: 0;
  padding: 9px;
  width: 100%;

  &.red {
    background-color: #C35050;
    color: white;
  }
  &.green {
    background-color: #50C350;
    color: white;
  }
  &.blue {
    background-color: #5050C3;
    color: white;
  }
  &[disabled=disabled] {
    background-color: #999;
    color: white;
    &:before {
      font-family: "Damion";
      content: "X ";
      font-size: 1.5em;
    }
  }

}


.top-heading {
  background-color: #C35050;
}

table.item-list {
  border-collapse: collapse;
  width: 100%;

	&.fixed-table {
    table-layout: fixed;
  }

  th, th a{
    border: 1px solid #E0E0E0;
    background-color: #FFF;
    color: #000;
    font-size: 0.95em;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: bottom; 
  }

  tr {
    background-color: #FFF;
    display: table-row;

    &:nth-child(even) {
      background-color: #F9F9F9;
    }

    &:hover {
      background-color: #FFFFF2;
    }
  }

  td {
    border: 1px solid #E0E0E0;
    padding: 5px;
    vertical-align: top;

    select, input, textarea {
      width: 100%;
    }

    &.dead_center {
      text-align: center;
      vertical-align: middle;
    } 

    &.numeric{
      text-align: right;
    }
  }
}

.plain-filter {
  * {
    display: block;
    width: 100%;
  }

  select,
  input,
  textarea {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.caje-info {
	font-size:2em;
	color: dimgray;
	font-family: "Poiret One", Geneva, sans-serif;
	text-align:center;
}


.topbar {
  position: relative;
  max-width: 880px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $red;
  background: KHAKI;
  display: block;
  @include box-shadow(0, 0, 6px, $black);
}

.to_the_right {
  position: absolute;
  //background: yellowgreen;
  right: 0;
  bottom: 0;
  padding: 5px;
  display: inline-block;
  &:after { content: '  '; display: table; }
}

.to_the_left {
  position: absolute;
  //background: yellowgreen;
  left: 0;
  bottom: 0;
display: inline-block;
  &:after { content: '  '; display: table; }
}

.prgs-bar {
  vertical-align: middle;
}

.order-total {
  font-weight: 900;
}