/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import "font-awesome";

@import "bootstrap";

@import "base/normalize",
        "base/css_reset",
        "base/vars",
        "base/text_presentation",
        "base/buttons",
        "base/icons",
        "base/inputs",
        "utilities",
        "mixins",
        "grid",
        "modules/*",
        "components/*",
        "base/colors";

@import "charges", "custom-resizing", "orders", "sign_in", "styles-general";




tbody.all_the_mods tr {

    td.customize-this {
      background-color: #EEE;
      color: #333;
      text-align:center;
      font-style: italic;
    }

    &.item-modifier {
      background-color: #EEE;
    }
    &.opt-name {
      background-color: #EEE;
    }
}


.item-description {
  background: lightgray;
}


.step-style {
  text-align: center;
  color: $white;
  font-family: Dosis, sans-serif;

  h1 {
    font-family: "Damion", serif;
    font-size: 3.2em;
    font-weight: 400;
  }

  p {
    font-size: 1.5em;
    padding: 0px 25px;
  }

  img {
    opacity: .9;
  }
}

.list-group {
  /*box-shadow: 0px 0px 5px #888;*/
}

div.list-group.select .list-group-item  {
  border-radius: 0px;
  background-color: white;
  border-color: #ddd;
  font-size:1.4em;
  color: $red;
  font-weight:900;

  &:hover {
    background-color: lighten(darkseagreen, 30);
    /*background-color: #F8F8F8;*/
    border-color: green;
    z-index:1;
  }
}

section.last {
  //padding-bottom:35px;
}


footer.fb {
  margin: 40px auto 80px auto;
  text-align: center;

  p {
    font-size: 1.6em;
    font-weight: 500;
    font-color: #2A2A2A;
  }
  a.place-order {
    color: #a10;
    margin-bottom: 40px;
    text-decoration: none;
    display: block;
    &:hover {
      color: slategray;
    }
  } 
}

#join {
  section:first-child {
    margin-top:50px;
  }

.why-shnack {
  ul {
    padding-top:-10px;
    padding-left:20px;
    font-size: 1.4em;
  }

}
.contact-form {
  border-color: darkgray;
  background-color:LEMONCHIFFON;
}

}