/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import "font-awesome";

@import "bootstrap";

@import "base/normalize",
        "base/css_reset",
        "base/vars",
        "base/text_presentation",
        "base/buttons",
        "base/icons",
        "base/inputs",
        "mixins",
        "grid",
        "modules/*",
        "components/*",
        "base/colors";

@import "charges", "orders", "sign_in", "manage_vendors";
@import "animate", "utilities";



.sign-up-page-deal {
  h4 {
    background-color: $green;
    color: $white;
    padding: 5px;
    margin-bottom: 0 !important;
  }
  p {
    border-left: 2px dotted $green;
    border-right: 2px dotted $green;
    border-bottom: 2px dotted $green;
  }

  display: block;
  position: absolute;
  left: -210px;
  top: 50px;
  font-size: .8em;
  width: 150px;
  text-align: center;

  @media (max-width: 780px) {
    display: none;
  }
}


.a-dropdown .shnack-credit {
  color: $green;
  text-align: center;
}


.primary-app-content {
  margin-left: auto;
  margin-right: auto;
  min-width: 120px;
  max-width: 660px;
}



.easy-123 {
  h1 {
    color: whitesmoke;
  }

  .column-mobile {
    text-align: center;
    padding: 10px;
    color: #111;

    p, h2, span { color: #383838; }
    h2:first-letter {
      font-size: 1.3em;
    }
  }
}
/* //#4C4951*/

//all for easy-123
@media (max-width: 520px) {
  .easy-123 {
    span { font-size: 64px; }
    p { font-size: 16px; }
  }
}



//probably trash
div.list-group.select .list-group-item  {
  border-radius: 0px;
  background-color: white;
  border-color: #ddd;
  font-size:1.4em;
  color: $red;
  font-weight:900;

  .info {
    font-size: .8em;
    font-weight: 600;
  }

  &:hover {
    background-color: lighten(darkseagreen, 30);
    /*background-color: #F8F8F8;*/
    border-color: green;
    z-index:1;
  }
}


table.table {
  border-radius: 0px;
}
.panel {
  border-radius: 0px;
}
