/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import "font-awesome";

@import "bootstrap";

@import "base/normalize",
        "base/css_reset",
        "base/vars",
        "base/text_presentation",
        "base/buttons",
        "base/icons",
        "base/inputs",
        "utilities",
        "mixins",
        "grid",
        "modules/*",
        "components/*",
        "base/colors";

@import "charges", "orders", "sign_in", "styles-general";
@import "custom-resizing";

.all_the_mods {
  background-color: LEMONCHIFFON;
}

tbody.all_the_mods tr {
    border: none;


    td.customize-this {
      background-color: LEMONCHIFFON;
      color: #333;
      text-align:center;
      font-style: italic;
    }

    &.item-modifier {
      background-color: LEMONCHIFFON;
    }
    &.opt-name {
      background-color: LEMONCHIFFON;
    }
}


.item-description {
}


.step-style {
  text-align: center;
  color: $white;
  font-family: Dosis, sans-serif;

  h1 {
    font-family: "Damion", serif;
    font-size: 3.2em;
    font-weight: 400;
  }

  p {
    font-size: 1.5em;
    padding: 0px 25px;
  }

  img {
    opacity: .9;
  }
}

div.list-group.select .list-group-item  {
  border-radius: 0px;
  background-color: white;
  border-color: #ddd;
  font-size:1.4em;
  color: $red;
  font-weight:900;

  .info {
    font-size: .8em;
    font-weight: 600;
  }

  &:hover {
    background-color: lighten(darkseagreen, 30);
    /*background-color: #F8F8F8;*/
    border-color: green;
    z-index:1;
  }
}


#join {
  margin-top:0px;
  section:first-child {
    padding-top:20px;
    background-color:LIGHTSALMON;
  }

  .why-shnack {
    ul {
      padding-top:-10px;
      padding-left:20px;
      font-size: 1.4em;
    }

  }
  .contact-form {
    border-color: darkgray;
    background-color:LEMONCHIFFON;
  }
}


@import 'modules/navs';


#images {
  .container {
    margin:auto;
    width:100%;
    text-align:center;
  }
  img {
    width:33%;
    margin:auto;
  }
}
