/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Damion);

$smokewhite: whitesmoke;
$bgblack: #252525;
$colorred: #9E1919;
$shnackred: #a61c00;

body {
	//margin-right: 0px;
	//padding-right: 0px;
}

p {
	font-family: "Poiret One", Geneva, sans-serif;
}

.logo {
	width:85%;
	margin: 0 auto;
}

.website-container {
	padding-top:15px;
	width: 100%;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FCFCFC),
		color-stop(1, #EBEBEB)
	);
	background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #EBEBEB 100%);
	background-image: linear-gradient(to bottom, #FCFCFC 0%, #EBEBEB 100%);
}

#level-2 {
	width: 100%;
	padding: 0px 10px 20px 10px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #9E1919),
		color-stop(1, #A62424)
	);
	background-image: -o-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: -moz-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: -webkit-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: -ms-linear-gradient(bottom, #9E1919 0%, #A62424 100%);
	background-image: linear-gradient(to bottom, #9E1919 0%, #A62424 100%);
}


#level-3 {
  width: 100%;
  position: relative;
  margin: 0px auto;
  background: $bgblack;
  padding: 45px 10px;
  min-height: 560px;
}

#footer {
	max-width: 500px;
	margin: 100px auto;
}

.foot-style {
	font-family: "Poiret One", Geneva, sans-serif;
}

.col-4 {
	position: relative;
	float: left;
	width: 33.333333%;
}

.col-6 {
	poition: relative;
	float: left;
	width: 50%;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.container {
	width: 100%;
		padding: 0px;
}

.my-container {
	max-width: 980px;
}

.col-4 {
	width: 33.333333%;
}

.headline-light {
	font-family: "Poiret One", Geneva, sans-serif;
	color: $smokewhite;
}

.headline {
	font-family: "Poiret One", Geneva, sans-serif;
	font-weight: 900;
}

.step-style {
  text-align: center;
  color: $smokewhite;
}

h1.step-style {
  font-family: "Damion", serif;
  font-size: 3.2em;
	font-weight: 100;
}

p.step-style {
  font-size: 1.5em;
  padding: 0px 25px;
}

img.step-style {
  opacity: .9;
}

#phone{
position: absolute;
bottom: -45px;
z-index: 20;
  width: 230px;

}


#info-tagline {
 font-family: "Poiret One", Geneva, sans-serif; 
 font-size: 3.8em;
 color: $smokewhite;
   font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1;
  line-height: .9em;
}

#info-text {
  font-size: 1.5em;
  color: $smokewhite;
  font-family: "Poiret One", Geneva, sans-serif;
  display: block;
}

.center {
	margin: 0px auto;
	text-align: center;
}

.add_margin {
	margin-bottom: 175px;
}


ul.info-links {
 	list-style: none;
	font-size: 3em;
	font-family: "Damion", serif;
  	li {
    	//padding: 0px 40px 0px 0px;
    	display:inline;
  	}
  	a {
  		color: $shnackred;
  		text-decoration: none;
  		&:hover {
  			color: $smokewhite;
  			border-bottom: 2px solid $shnackred;
  		}
  	}
}

#return-to-top{
	text-align: center;
	margin: 20px auto;
	a {
		color: $shnackred;
  		text-decoration: none;
  		&:hover {
  			color: slategray;
  		}
	} 
}

#nvc-logo {
	width: 100px;
}



#contact-us {
	display: none;
	width: 100%;
	height: 200px;
	//margin-top: 15px;
}

 .btnp {
  padding: 9px 15px;
  background: #336699;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  }


.contact-field {
	width: 100%;
}

.notice {
	text-align: center;
	font-family: "Poiret One", Geneva, sans-serif;
	font-size: 1.6em;
	padding: 15px 0px;
	color: green;
	font-weight: bold;
	margin-top: 10px;
	background: rgba(140,250,0,.3);
}

.flash-error {
	text-align: center;
	font-family: "Poiret One", Geneva, sans-serif;
	font-size: 1.6em;
	padding: 15px 0px;
	color: #780000;
	font-weight: bold;
	margin-top: 10px;
	background: #F5E6E6;

}

input[type="tel"].error { border: 1px solid #780000  }

.error {
	margin-top:10px;
	padding:3px;
	border: 1px solid #780000;
	border-radius:10px;
	background-color:#F5E6E6;
	font-family: "Poiret One", Geneva, sans-serif;
	color:#780000;

}
