//all for the TOPBAR
@media (max-width: 520px) {
  .topbar { padding: 1px 6px 4px !important; }
  .topbar h1 { font-size: 2.5em; }
}

//all for easy-123
@media (max-width: 520px) {
  .easy-123 {
    span { font-size: 64px; }
    p { font-size: 16px; }
  }
}




//OLD CODE
//awkward tablet
@media (max-width: 750px) {
  .prime-info {
    padding-left: 0px !important;

    .prime-text {
      width: 100% !important;
      padding-right: 5px !important;
    }
    img.phone {
      display: none !important;
    }

    p {
      font-size: 18px !important;
    }
  }
}
