@media (min-width: 992px) { 

	.logo {
		width:100%
	}
}

//awkward tablet
@media (max-width: 755px) {
	
	#phone {
		display:none;
	}
	p.step-style {
		display: none;
	}
	ul.info-links {
		font-size: 2.2em;
		margin: 0px;
	}
}

//PHONE SIZE
@media (max-width: 520px) {

	img.step-style {
		width: 80px;
	}

	h1.step-style {
		font-size: 2em;
	}

	.col-sm-8 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#info-tagline {
		font-size: 2.2em;
	}
}
