
@media (max-width: 520px) {
  .item-name { width: 50%; }
  .item-price { width: 25%; }
  .item-desc { display: none; }
  .prgs-bar { display: block; width: 100% !important;}
  //.step { display: inline-block; width: 32%; }
  .topbar { padding: 0 2px 4px 2px !important; }
  .topbar a h3 { font-size: 2.5em; }
  .topbar .my-gear img { width: 30px; height: 30px; }
}



//awkward tablet
@media (max-width: 750px) {

  .prime-info {
    padding-left: 0px !important;

    .prime-text {
      width: 100% !important;
      padding-right: 5px !important;
    }
    img.phone {
      display: none !important;
    }

    p {
      font-size: 18px !important;
    }
  }
}

//PHONE SIZE
@media (max-width: 520px) {
  .step-style {
    img {
      width: 80px;
    }

    h1 {
      font-size: 2em;
    }

    p {
      display: none;
    }
  }
}
