//all for the TOPBAR
@media (max-width: 520px) {
  .topbar + div { margin-top: 90px !important; }
  .prgs-bar { display: block; width: 100% !important;}
  .topbar { padding: 0 2px 4px 2px !important; }
  .top-bar .my-gear { float: right !important;}
  .topbar a h3 { font-size: 2.5em; }
  .topbar .my-gear img { width: 30px; height: 30px; }
  .caje-info { font-size: 1.5em; };
}

//all for easy-123
@media (max-width: 520px) {
  .easy-123 {
    h1 { font-size: 2em;  }
    span { font-size: 64px; }
    p { font-size: 16px; }
  }

}


//awkward tablet
@media (max-width: 750px) {

  .prime-info {
    padding-left: 0px !important;

    .prime-text {
      width: 100% !important;
      padding-right: 5px !important;
    }
    img.phone {
      display: none !important;
    }

    p {
      font-size: 18px !important;
    }
  }
}

//PHONE SIZE
@media (max-width: 520px) {
  .step-style {
    img {
      width: 80px;
    }

    h1 {
      font-size: 2em;
    }

    p {
      display: none;
    }
  }
}
