// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.subtotal {
	background-color: rgb(245, 245, 245);
	border-top-color: #DDD;
	border-top-width: 1px;
	border-top-style: solid;
}

.actions {
	position: relative;
}

.cancel {
	position: relative;
	float: left;
}

.btn-primary {
	float: right;
}

.itemModSection {
	display: block;
	width: 75px;
	height: 75px;
	background: pink;
}

