/* I BELIEVE THIS IS ALL UNUSED NOW BN 8.6.14
instead use input-list and push-btn */
/*
input.sign_in, textarea.sign_in {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	margin-bottom: 10px;
	background: #FFFFFF;
	&:hover, &:focus { 
	   border-color: #C9C9C9;
	} 
}
input, textarea {
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }

  .buttn {
  width: auto;
  padding: 9px 15px;
  background: #009933;
  border: 0px;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  }
*/
