@import "mixins", "base/vars";



.sign-up-page-deal {
  h4 {
    background-color: $green;
    color: $white;
    padding: 5px;
    margin-bottom: 0 !important;
  }
  p {
    border-left: 2px dotted $green;
    border-right: 2px dotted $green;
    border-bottom: 2px dotted $green;
  }

  display: block;
  position: absolute;
  left: -210px;
  top: 50px;
  font-size: .8em;
  width: 150px;
  text-align: center;

  @media (max-width: 780px) {
    display: none;
  }
}

.easy-123 {
  .column-mobile {
    text-align: center;
    padding: 10px;
    color: #111;

    p, h2, h3, span { color: #383838; }
  }
}
/* //#4C4951*/

span.tax {
  font-size: 75%;
}


#order-form {
  
}

.primary-app-content {
  margin: 0px auto;
  min-width: 320px;
  max-width: 660px;
}

.expandable {
  cursor: pointer;
}

.expandable:before {
  margin-right: 10px;
  font-family: 'FontAwesome';
  font-weight: normal;
  content: '\f0da';
}

.expandable.expanded:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  content: '\f0d7';
}


table.table {
  border-radius: 0px;
}
.panel {
  border-radius: 0px;
/*    box-shadow: 0px 0px 5px #888;*/

}

