<html>

  <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript">
            var myImage = document.getElementById("slideshow");
var imageArray = ["/assets/images/stadium1.jpg","/assets/images/stadium2.jpg","/assets/images/stadium3.jpg"];
var imageIndex = 0;

function changeImage()
{
  myImage.setAttribute("src", imageArray[imageIndex]);
  imageIndex++;
  if (imageIndex >= imageArray.length) { imageIndex = 0; }
  setInterval(changeImage,2000);

}
window.onload=changeImage;
        </script>


  </head>

  <body>

    <div id="wrapper">
      
      <div id="level-1">
      
      <!--
        <div id="top-buttons">
          <span class="member-buttons">Login</span>
          <span class="member-buttons">Sign Up</span>
        </div>
        -->
        <center>
        <img id="shnack-logo" src="images/logo.png"></img>
        <div id="shnack-name">Shnack</div>
        <div id="select-dropdowns">
        <a href="#" class="order-button">Place your order</a></center>
          
        <!--
          <span id="stadium-dropdown">Select your stadium</span>
          <span id="vendor-dropdown">Select your vendor</span>
        -->
        </div>
      <!-- ENDS LEVEL 1 --> </div> 
      
      <div id="level-2">
        <div id="howto">
          <div class="box">
            <h1 class="box-style">Select</hl>
            </br>
            <img class="box-style" src='images/step1.png' alt='phone'></img>
            <p class="box-style">From your seat, select your stadium and vendor you want to purchase from.</p>
          </div>
        
        <div class="box">
          <h1 class="box-style">Order</hl>
            </br>
            <img class="box-style" src='images/step2.png' alt='order'></img>
          <p class="box-style">View the menu and pick your meal. Place your order.</p>
        </div>
        
        <div class="box">
          <h1 class="box-style">Pick Up</hl>
            </br>
            <img class="box-style" src='images/step3.png' alt='food'></img>
          <p class="box-style">When your order is ready, a notification will be sent. Pick up and enjoy.</p>
        </div>
        
        </div>
      <!-- ENDS LEVEL 2 --> </div> 
      
      <div id="level-3">
        <div class="container">
            <div id="left-container">
              <div id="detail-word">Never miss a moment<span id="comma">,</span>
              </br> never miss a meal.</div>
              <p id="detail-text">
                Shnack is a mobile application designed for concessions at large and small scale events, that lets customers order and pay for a vendor's food via their phone. Shnack eliminates the time customers are spending standing in lines by providing a quick and elegant way to purchase food from your seat. Customers will order food from their phone and will be notified when their food is ready to be picked up. By eliminating the need to wait in line, we can increase customer satisfaction, increase vendor revenue, and ultimately help provide a superior experience to customers.
              </p>    
            </div>

            <div id="right-container">
              <img id="phone" src="images/phone_welcome.png" />
            </div>
        </div>
      <!-- ENDS LEVEL 3 --> </div>

      <div id="level-4">
        <div class="container">
          <span class="power-words">for fans</span>
          <span class="power-words">for vendors</span>
          <span class="power-words">for analytics</span>

          </br>
          </br>
          </br>

        <p id="footer">
        <span id="footer">Are you interested in never waiting in line again?</span></br>Sign up for our mailing list to be informed about our progress and special offers.
        </p>

        <form action="demo_form.asp">
          <input type="text" name="email" placeholder="email address" autocomplete="on">
          <input type="text" name="lname" placeholder="name">
          <input type="submit" value="Submit">

      </form> 

              <p id="footer">Or follow us on our Facebook page. You just might see us at a game.</p>
              <p>LINK TO OUR FACEBOOK PAGE</p>

      </div>
      </div>


<!--         <div class="container">
          <div class="on-the-web">Email us</div>
                    <div class="on-the-web">Facebook us</div>

          <div class="on-the-web">Tweet us</div>

        </div> -->
      


    <!-- ENDS WRAPPER --> </div> 

  </body>

</html>