<h1> Welcome to Shnack! </h1>

<%= link_to "Go To The Stadiums Page", stadia_path %> 


<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>