<h2 class="headline">Select your Location:</h2>
<div class="list-group">
	<% @locations.each do |location| %>
		<%= link_to location.name, {:action => "select_vendor", :object_id  => location.id},:class=>"list-group-item"  %> 
	<% end %>

