<h1 class="headline"> <%= @stadium.name %> </h1>


<h2 class="headline">Select your vendor:</h2>
<ul class="general-list">
	<% @stadium.vendors.each do |vendor| %>
		<li class="general-list"> <%= link_to vendor.name, new_order_path(:vendor_id  => vendor.id) %> </li>
	<% end %>
</ul>
<br />
<%= link_to "Back to stadiums list", :action => "select_stadium" %>
