<% content_for :page_title do%>
Select Your Location
<% end %>

<div class="list-group select">
	<% @locations.each do |location| %>

		<% if location.is_open? %>
			<%= link_to(raw(location.name + "<span class='right info'>Open until #{location.todays_closing_time}</span>"), {:action => "select_vendor", :object_id  => location.id}, :class=>"list-group-item open") %>
		<% else %>
			<%= link_to(raw(location.name + " - Closed" + "<span class='right info'>Opens at #{location.tomorrows_opening_time}</span>"), '#', :class=>"list-group-item list-group-item-danger") unless location.hide_when_closed? %>
		<% end %>

 	
	<% end %>

</div>
