<!DOCTYPE html>
<html>
<head>
  <title>Shnack Styleguide</title>

  <%= stylesheet_link_tag    "wrench", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>

    <hr>
    <span>h1..6 with SSS class (the styles to switch to)</span>
    <hr>

    <h1 class="SSS">Hello world</h1><span>h1.SSS</span>
    <h2 class="SSS">Hello world</h2><span>h2.SSS</span>
    <h3 class="SSS">Hello world</h3><span>h3.SSS</span>
    <h4 class="SSS">Hello world</h4><span>h4.SSS</span>
    <h5 class="SSS">Hello world</h5><span>h5.SSS</span>
    <h6 class="SSS" >Hello world</h6><span>h6.SSS</span>

    <hr>
    <span>Generic h1..6 with small inside</span>
    <hr>

    <h1>Hello world<small>and hello to you</small></h1>
    <h2>Hello world<small>and hello to you</small></h2>
    <h3>Hello world<small>and hello to you</small></h3>
    <h4>Hello world<small>and hello to you</small></h4>
    <h5>Hello world<small>and hello to you</small></h5>
    <h6>Hello world<small>and hello to you</small></h6>

    <hr>
    <span>Basic Paragraph tags</span>
    <hr>

    <p>Lorem ipsum un sit doler</p>

    <hr>
    <span>Generic button and anchor</span>
    <hr>

    <button>Button</button>
    <a href="#">Anchor</a>

    <hr>
    <span>Buttons/Anchors with class action-btn</span>
    <hr>

    <button class="action-btn">Action Button</button>
    <button class="action-btn red">Action Button</button>
    <button class="action-btn brown">Action Button</button>
    <button class="action-btn green">Action Button</button>
    <button class="action-btn blue">Action Button</button>

    <br>

    <a href="#" class="action-btn">Action Anchor</a>
    <a href="#" class="action-btn red">Action Anchor</a>
    <a href="#" class="action-btn brown">Action Anchor</a>
    <a href="#" class="action-btn green">Action Anchor</a>
    <a href="#" class="action-btn blue">Action Anchor</a>

    <hr>
    <span>Buttons/Anchors with class push-btn</span>
    <hr>

    <button class="push-btn">Push Button</button>
    <button class="push-btn red">Push Button</button>
    <button class="push-btn green">Push Button</button>
    <button class="push-btn blue">Push Button</button>
    <button class="push-btn brown">Push Button</button>

    <br>

    <a href="#" class="push-btn">Push Anchor</a>
    <a href="#" class="push-btn red">Push Anchor</a>
    <a href="#" class="push-btn green">Push Anchor</a>
    <a href="#" class="push-btn blue">Push Anchor</a>
    <a href="#" class="push-btn brown">Push Anchor</a>

    <hr>
    <span>Generic text inputs</span>
    <hr>


    <textarea>Text Area</textarea>
    <input type="textfield" />

    <ul>
      <li>One</li>
      <li>Two</li>
    </ul>

    <ol>
      <li>ABC</li>
      <li>XYZ</li>
    </ol>


</body>
</html>
