<!DOCTYPE html>
<html>
<head>
  <title>Shnack Styleguide</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>
    <div class="wrapper pad-lrg">
        <span>h1..6 with SSS class (the styles to switch to)</span>
        <li>margin-bottom: 5px;</li>
        <hr>

        <span>h1.SSS</span><h1 class="SSS">Hello world</h1>
        <span>h2.SSS</span><h2 class="SSS">Welcome To Myy</h2>
        <span>h3.SSS</span><h3 class="SSS">Shnack Attack</h3>
        <span>h4.SSS</span><h4 class="SSS">Enjoy your stay</h4>
        <span>h5.SSS</span><h5 class="SSS">come again</h5>
        <span>h6.SSS</span><h6 class="SSS" >Hello world</h6>

        <hr>
        <span>Basic Paragraph tags</span>
        <li>font-size: 22px;</li>
        <li>margin-bottom: 12px;</li>
        <hr>

        <p class="span9">Basic < p > tags with span9. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
        <p class="span6">Span6 Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>

        <hr>
        <span>Generic Button</span>
        <hr>

        <button class="">Button</button>
        <button class="red">Button red</button>
        <button class="brown">Button brown</button>
        <button class="green">Button Green</button>
        <button class="blue">Button Blue</button>
        <button class="darkslategray">Button darkslategray</button>

        <hr>
        <span>Generic Anchor and a.i-arrow (i-arrow is experimental)</span>
        <hr>

        <a href="#">Anchor</a>
        <br>
        <a href="" class="i-arrow">Arrow Class</a>


        <hr>
        <span>Buttons/Anchors with class action-btn</span>
        <hr>

        <button class="action-btn">Action Button</button>
        <button class="action-btn red one">Action</button>
        <button class="action-btn brown three">Action Button</button>
        <button class="action-btn green one">Action</button>
        <button class="action-btn blue three">Action Button</button>
        <button class="action-btn darkseagreen">Action</button>
        <button class="action-btn lightgreen">Action Button</button>
        <button class="action-btn darkgreen">Action</button>
        <button class="action-btn lightred">Action Button</button>
        <button class="action-btn darkred">Action</button>


        <br>

        <a href="#" class="action-btn">Action Anchor</a>
        <a href="#" class="action-btn red">Red</a>
        <a href="#" class="action-btn brown">Brown</a>
        <a href="#" class="action-btn green">Green</a>
        <a href="#" class="action-btn blue">Blue</a>
        <a href="#" class="action-btn darkseagreen">Darkseagreen</a>
        <a href="#" class="action-btn lightgreen">Lightgreen</a>
        <a href="#" class="action-btn darkgreen">Darkgreen</a>
        <a href="#" class="action-btn lightred">Lightred</a>
        <a href="#" class="action-btn darkred">Darkred</a>

        <hr>
        <span>Buttons/Anchors with class push-btn</span>
        <hr>
        <div class="row-new pad">
            <section class="column six mar-bot-children">
                <button class="push-btn">Push Button</button>
                <button class="push-btn red">Push Button</button>
                <button class="push-btn green">Push Button</button>
                <button class="push-btn blue">Push Button</button>
                <button class="push-btn brown">Push Button</button>
            </section>
            <section class="column six mar-bot-children">
                <a href="#" class="push-btn lightgreen">Push Anchor</a>
                <a href="#" class="push-btn darkgreen">Push Anchor</a>
                <a href="#" class="push-btn darkseagreen">Push Anchor</a>
                <a href="#" class="push-btn lightred">Push Anchor</a>
                <a href="#" class="push-btn darkred">Push Anchor</a>

            </section> 
        </div>
        

        <hr>
        <span>Generic text inputs</span>
        <hr>


        <textarea>Text Area</textarea>
        <input type="textfield" />

        <hr>
        <p>.input-list</p>
        <span>Add this div to a container to mimic these results. Will strech to fill the parent.</span>
        <hr>

        <div class="input-list">
            <h2>Filter by</h2>

            <label>Resource:</label>
            <select id="filter1" name="Filter 1"></select>

            <label>Something with info help:</label>
            <input type="text" class="with-info" />
            <span class="fa fa-info-circle"></span>

            <label>Basic:</label>
            <input type="text" placeholder="Fill me in!"/>

            <label>
              <input type="checkbox">
              Input before Checkbox
            </label>

            <label>
              Or after works fine
              <input type="checkbox">
            </label>

            <label>Textarea:</label>
            <textarea>Lorem Ipsum</textarea>

            <label>
              <input type="radio" name="frontendftw">
              Option 1
            </label>

            <label>
              <input type="radio" name="frontendftw">
              Option 2
            </label>

          </div>

        <ul>
          <li>One</li>
          <li>Two</li>
        </ul>

        <hr>
        OL > LI, OL > *
        <span>An ordered list and it's first descendants < li > or not will display inline. AKA perfect contains for something you want to be inline-block</span>
        <li>display: inline-block;</li>
        <li>&:not(:last-child) { margin-right: 10px; } </li>  
        <hr>

        <ol>
          <li>ABC</li>
          <li>XYZ</li>
        </ol>

        <hr>
        <span>.my-well</span>
        <span> :: taking the make from bootstrap, so simple. but lets make our own for better control</span>
        <li>min-height: 18px;</li>
        <li>padding: 18px;</li>
        <li>margin: ?? 2px 20px 2px;</li>
        <hr>

        <div class="my-well-lemon seven"><p>This is class my-well-lemon. Basically I took the simple idea from bootstrap. But now we have much better control. This is class my-well-lemon. Basically I took the simple idea from bootstrap. But now we have much better control</p>
        <p>also with < p > tags and class five added to the well</p></div>

        <div class="my-well-seagreen four"><p>This is class my-well-seagreen four. NOTE four not span4. whole words are perctanges, while spanX is a max-width. Both are on a base 12 for 100% yadda mean? This is class my-well-seagreen four.</div>

        <div class="my-well five">And finally the classic my-well five</div>

        <hr>
        <span>basic .flash-alert</span>
        <hr>
            <div class="flash-alert stop span8">Flash Alert STOP you need to stop and chill for a second</div>
            <div class="flash-alert slow span6">Flash Alert SLOW yo are you okay</div>
            <div class="flash-alert go span4">Flash Alert GO you have fantastic news and you would not believe what that is, so let me tell you</div>
            <div class="flash-alert span2">Flash Alert with some text describing to you that I need your attention span2</div>

        <hr>
        <span>.span1-12</span>
        <li>have a max-width set</li>
        <li>increments by 90s :: 90, 180, 270, 360, etc 1080</li>
        <hr>

        <div class="span1 cement">S Sp Spa Span Span1</div>
        <div class="span2 cement">Span Span2</div>
        <div class="span3 cement">Span Span3</div>
        <div class="span4 cement">Span Span4</div>
        <div class="span5 cement">Span Span5</div>
        <div class="span6 cement">Span Span6</div>
        <div class="span7 cement">Span Span7</div>
        <div class="span8 cement">Span Span8</div>
        <div class="span9 cement">Span Span9</div>
        <div class="span10 cement">Span Span10</div>
        <div class="span11 cement">Span Span11</div>
        <div class="span12 cement">Span Span12</div>


        <hr>
        <span>.row-new and columns one-twelve</span>
        <li>if you plan to use columns, need to have a row-new around it</li>
        <li>columns are percentage widths, so it scales nicely with screen adjustments</li>
        <li>.column-mobile :: screens smaller than 520px the column will snap out and stretch 100%</li>
        <li>the measurment is a seperate word, column two, column-mobile six</li>
        <p>Columns have no padding applied. Add it your self with pad utilities. NOTE: max-width: 1200px because that is a huge screen yo</p>
        <hr>


        <div class="row-new">
            <div class="column one black text-white">column one black text-white</div>
            <div class="column eleven darkslategray text-white">column eleven darkslategray text-white</div>
        </div>
        <div class="row-new">
            <div class="column two black text-white pad-sml">column two pad-sml</div>
            <div class="column two khaki pad-sml">column two pad-sml</div>
            <div class="column two darkslategray text-white pad">column two pad</div>
            <div class="column two cream pad-lrg">column two pad-lrg</div>
        </div>
        <div class="row-new"> <div class="column three black text-white">column three</div> </div>
        <div class="row-new"> <div class="column four black text-white darkseagreen">column four darkseagreen (this is one third)</div> </div>
        <div class="row-new"> <div class="column five black text-white">column five</div> </div>
        <div class="row-new"> <div class="column six black text-white pad-lrg">column six alpha-class pad-lrg</div> </div>
        <div class="row-new"> <div class="column seven red text-white">column seven red</div> </div>
        <div class="row-new"> <div class="column eight black text-white">column eight order-mod</div> </div>
        <div class="row-new"> <div class="column nine black text-white">column nine</div> </div>
        <div class="row-new"> <div class="column ten black text-white text-right">column ten text-right</div> </div>
        <div class="row-new"> <div class="column eleven black text-white">column eleven</div> </div>
        <div class="row-new"> <div class="column twelve black text-red">column twelve text-red</div> </div>

        <hr>
        <span>.exanpadable and .expanded</span>
        <li>places the icon and makes it clickable</li>
        <li>javascripts selects next element, of the regular flow</li>
        <hr>

        <h6 class="expandable">Header Style</h6>
        <div>Sample div. Not nested, just next in the flow</div>

        <p class="expandable">Hello Paragraph</p>
        <div>Sample div. Not nested, just next in the flow</div>

        <h1 class="expandable plus-icon">h1.expandable.plus-icon</h1>
        <p>Sample p. Not nested, just next in the flow</p>

        <a href="#" class="expandable">Why not on this link too</a>
        <div>Sample div. Not nested, just next in the flow</div>

        <div class="expandable plus-icon span7 green text-khaki">div.expandable.plus-icon.span7.green.text-khaki</div>
        <div class="my-well-mid">Sample div. Not nested, just next in the flow</div>



        <hr>
        <span>class row-new-ib and iblock</span>
        <li>.row-new-ib doesnt do much, but is a good wrapper</li>
        <li>if you make iblock-mobile, make all of the row iblock-mobile</li>
        <hr>

        <div class="row-new-ib blue" style="background-color:blue;">
            <div class="iblock-mobile six blue">Hello there</div>
            <div class="iblock-mobile six green">Deep water</div>
        </div>
    

        <div class="row-new-ib red" style="background-color:red;">
            <div class="iblock three blue">11 Hello there</div>
            <div class="iblock three green">22 Deep water</div>
            <div class="iblock three blue">33 Hello there</div>
            <div class="iblock three green">44 Deep water</div>
            <div class="iblock three blue">55 Hello there</div>
            <div class="iblock three green">66 Deep water</div>
            <div class="iblock three blue">77 Hello there</div>
            <div class="iblock three green">88 Deep water</div>
        </div>

        <div class="row-new-ib green" style="background-color:green;">
            <div class="iblock three darkslategray">Hello there</div>
            <div class="iblock two darkgreen">Deep water</div>
            <div class="iblock-mobile five brown">Hello there</div>
            <div class="iblock-mobile two black">Deep water</div>
        </div>


        <hr>
        <hr>
        <div class="row-new red" style="background-color:red;">
            <div class="column-mobile blue">11 Hello there</div>
            <div class="column-mobile green">22 Deep water</div>
            <div class="column-mobile blue">33 Hello there</div>
            <div class="column-mobile green">44 Deep water</div>
            <div class="column-mobile blue">55 Hello there</div>
            <div class="column-mobile green">66 Deep water</div>
            <div class="column-mobile three blue">77 Hello there</div>
            <div class="column-mobile three green">88 Deep water</div>
        </div>




    </div>

</body>
</html>
