<!DOCTYPE html>
<html>
<head>
  <title>Shnack Styleguide</title>

  <%= stylesheet_link_tag    "wrench", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body>


    <h1>Hello world</h1>
    <h2>Hello world</h2>
    <h3>Hello world</h3>
    <h4>Hello world</h4>
    <h5>Hello world</h5>
    <h6>Hello world</h6>

    <h1>Hello world<small>and hello to you</small></h1>
    <h2>Hello world<small>and hello to you</small></h2>
    <h3>Hello world<small>and hello to you</small></h3>
    <h4>Hello world<small>and hello to you</small></h4>
    <h5>Hello world<small>and hello to you</small></h5>
    <h6>Hello world<small>and hello to you</small></h6>

    <p>Lorem ipsum un sit doler</p>

    <button>Button</button>
    <a href="#">Anchor</a>

    <hr>

    <button class="action-btn">Action Button</button>
    <button class="action-btn red">Action Button</button>
    <button class="action-btn brown">Action Button</button>
    <button class="action-btn green">Action Button</button>
    <button class="action-btn blue">Action Button</button>

    <hr>

    <a href="#" class="action-btn">Action Anchor</a>
    <a href="#" class="action-btn red">Action Anchor</a>
    <a href="#" class="action-btn brown">Action Anchor</a>
    <a href="#" class="action-btn green">Action Anchor</a>
    <a href="#" class="action-btn blue">Action Anchor</a>

    <hr>

    <button class="push-btn">Push Button</button>
    <button class="push-btn red">Push Button</button>
    <button class="push-btn green">Push Button</button>
    <button class="push-btn blue">Push Button</button>
    <button class="push-btn brown">Push Button</button>

    <hr>

    <a href="#" class="push-btn">Push Anchor</a>
    <a href="#" class="push-btn red">Push Anchor</a>
    <a href="#" class="push-btn green">Push Anchor</a>
    <a href="#" class="push-btn blue">Push Anchor</a>
    <a href="#" class="push-btn brown">Push Anchor</a>


    <textarea>Text Area</textarea>
    <input type="textfield" />

    <ul>
      <li>One</li>
      <li>Two</li>
    </ul>

    <ol>
      <li>ABC</li>
      <li>XYZ</li>
    </ol>


</body>
</html>
