


	<%= render 'shared/order_details' %>


    <% if user_signed_in? && current_user.has_cards? %>

    <% else %>
      <%= render 'create_account_login' %>
    <% end %>
  <div class="error stripe-error" style="display:none;"> </div>
  <div class="error name-error" style="display:none;">Please enter your name</div>
  <div class="error phone-error" style="display:none;">Please enter your phone number or we won't be able to let you know when your order's ready!</div>
  <div class="error email-error" style="display:none;"> Please enter your e-mail address or we won't be able to send you your receipt!</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"> </script>

<script type="text/javascript">
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
</script>
